body
{
    font-family: Poppins, sans-serif;
}

.contenedor
{
    width: 1300px;
    height: 3524px;
    top: 200px;
    left: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1
{
    font-weight: 600;
    font-size: 65.34px;
    line-height: 82px;
    align-self: center;
    text-align: center;
}

h2
{
    font-weight: 600;
    font-size: 50.52px;
    line-height: 62px;
    color: #2B2B2B;
}

.NavTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
}

.NavTop img {
    height: 26px;
}

.NavTop .listaNavTop {
    display: flex;
}

.NavTop .listaNavTop ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.NavTop .listaNavTop ul li {
    display: inline;
}

.NavTop .listaNavTop ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #2B2B2B;
}

.Top {
    width: 1300px;
    height: 662px;
    gap: 33px;
    text-align: center;
}

.Top button
{
    background-color: #285E67;
    color: #FFFFFF;
    width: 251px;
    height: 56px;
    border-radius: 67px;
    padding: 16px;
    gap: 16px;
    align-self: center;
    font-size: 21.33px;
    font-weight: 600;
    line-height: 24px;
    font-family: Poppins, sans-serif;
    border: none;
}

.TopImagenes
{
    padding-top: 59px;
    display: flex;
    height: 391px;
    gap: 48px;
}

.TopImagenes img
{
    width: 626px;
    height: 391px;
}

.Mid {
    width: 1300px;
    height: 1300px;
    gap: 5px;
}

.Mid h2
{
    padding-left: 122px;
    padding-right: 122px;
}

.Mid .divHoja
{
    display: flex;
    gap: 125px;
    padding-right: 112px;
    height: 446px;
    padding-left: 122px;
    padding-right: 122px;
}

.Mid .divHoja img
{
    width: 291px;
    height: 294px;
}

.Mid .divFlor {
    display: flex;
    height: 578px;
    margin-top: 50px;
}

.Mid .divFlor img
{
    width: 623px;
    height: 578px;
}

.Mid .divFlor .Flor
{
    width: 260px;
    height: 187.54px;
}

.Mid .divFlor .Flor img
{
    width: 58px;
    height: 57px;
}

.Bot
{
    width: 1300px;
    height: 541px;
}

.Bot h2
{
    font-weight: 600;
    font-size: 50.52px;
    line-height: 62px;
    color: #2B2B2B;
}

.Bot .divHoja
{
    display: flex;
    gap: 69px;
    padding-right: 112px;
    height: 446px;
}

.Bot .divHoja img
{
    width: 291px;
    height: 294px;
    padding-right: 122px;
}

.divHoja .Hoja
{
    width: 260px;
    height: 187.54px;
}

.divHoja .Hoja img
{
    width: 58px;
    height: 57px;
}

.End
{
    display: flex;
    width: 1302px;
    height: 832px;
    gap: 33px;
    text-align: center;
    color: #FFFFFF;
}

.End .bosque
{
    height: 667px;
    background-image: url(../imagenes/bosque.png);
}

.End button
{
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border-color: #FFFFFF;
    width: 251px;
    height: 56px;
    border-radius: 67px;
    padding: 16px;
    gap: 16px;
    align-self: center;
    font-size: 21.33px;
    font-weight: 600;
    line-height: 24px;
    font-family: Poppins, sans-serif;
}

.End .crema
{
    background-color: #FCE2D7;
    color: #2B2B2B;
}

.NavBot {
    background-color: #285E67;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.NavBot img {
    height: 26px;
}


.NavBot ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.NavBot ul li {
    display: inline;
}

.NavBot ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}